.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

.app-box {
  display: grid;
  /* grid-template-areas: 'header header' 'tickerBox tickerBox' 'search search' 'articleList articleViewer'; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto 78vh;
}

.header {
  grid-area: 'header';
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  background-color: #0c0032;
  color: whitesmoke;
}

nav {
  background-color: #190061;
  justify-content: stretch;
  padding: 20px;
  font-size-adjust: 1;
}

.tickerBox {
  grid-area: 'ticker';
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  background-color: #2b0794a6;
  color: rgb(255, 255, 255);
  font-style: italic;
}

link {
  color: white;
}

.search {
  display: none;
  grid-area: 'search';
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  background-color: lightcyan;
}

.myprofile {
  grid-area: 'myprofile';
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  background-color: #282828;
}

/* .articleList {
  grid-area: 'articleList';
  overflow: scroll;
  grid-column: 1 / span 2;
  grid-row: 5 / span 1;
  background-color: lightpink;
  justify-content: space-around;
}

.articleViewer {
  grid-area: 'articleViewer';
  grid-column: 1 / span 2;
  grid-row: 5 / span 1;
  overflow: scroll;
  background-color: lightsalmon;
  justify-content: space-around;
} */

.routedContent {
  grid-area: 'routedContent';
  overflow: scroll;
  grid-column: 1 / span 2;
  grid-row: 5 / span 1;
  background-color: #282828;
  justify-content: center;
  color: whitesmoke;
  padding-top: 2%;
}

#articleCard {
  border: #240090 1px solid;
  justify-content: stretch;
  padding: 10px;
  margin: 2%;
  background-color: #18006157;
  border-radius: 15px;
  text-decoration: none;
}

#articleCard a:link {
  text-decoration: none;
}

#articleCard:hover {
  background-color: #724ae9a6;
  border-color: whitesmoke;
}

.errorDisplay {
  grid-area: 'myprofile';
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  background-color: lightskyblue;
}

ul {
  justify-content: stretch;
  padding: 0%;
  margin: 1%;
}

a:link {
  color: white;
}

a:visited {
  color: lightgray;
}

a:hover {
  color: lightskyblue;
}

.articleCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
}

.articleCardTitle {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  margin: 0%;
  padding: 1%;
}

.articleCardAuthor {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  margin: 0%;
  padding: 1%;
}

.articleCardTopic {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  margin: 0%;
  padding: 1%;
}

.articleCardDate {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  margin: 0%;
  padding: 1%;
}

.articleCardVotes {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
  margin: 0%;
  padding: 1%;
  border: #5a34caa6 solid 1px;
  border-radius: 15px;
}

.articleCardComments {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  margin: 0%;
  padding: 1%;
  border: #5a34caa6 solid 1px;
  border-radius: 15px;
}

#sortBy {
  margin: 2%;
  padding: 2%;
  color: white;
  background-color: #724ae9a6;
  border: white;
  width: 25%;
  height: 30px;
  font-size: 76%;
}

.articleWriterContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
}

/* .articleWriterTitle {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  margin: 2%;
  padding: 1%;
} */

.topicDropDown {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

.articleBodyBox {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  border-radius: 15px;
  background-color: #3a3a3aef;
  margin: 2%;
  padding: 2%;
  color: white;
  border: #240090 1px solid;
}

.articleTitleBox {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  border-radius: 15px;
  background-color: #3a3a3aef;
  margin: 2%;
  padding: 2%;
  color: white;
  border: #240090 1px solid;
}

.submitArticle {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  margin: 2%;
  padding: 2%;
  border-radius: 15px;
}

.votingButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#downvote {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  border-radius: 15px;
  align-self: center;
  /* justify-self: center; */
  font-size: 120%;
  border: #240090 2px solid;
  margin: 5%;
  background-color: #28282800;
  color: white;
}

.voteText {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  /* justify-self: center; */
  align-self: center;
}

#upvote {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  border-radius: 15px;
  align-self: center;
  /* justify-self: center; */
  font-size: 120%;
  border: #240090 2px solid;
  margin: 5%;
  background-color: #28282800;
  color: white;
}

#upvote:hover {
  background-color: #240090;
}

#downvote:hover {
  background-color: #240090;
}

#upvote:disabled {
  display: none;
}

#downvote:disabled {
  display: none;
}

.articleViewerContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
}

.articleVTitle {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.articleVAuthor {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

#articleVTopic {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.articleVVoters {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

#articleVBody {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
  margin: 1%;
  padding: 2%;
  background-color: #1f1f1fd2;
  border-radius: 15px;
}

.articleVComments {
  grid-column: 1 / span 1;
  grid-row: 6 / span 1;
  margin: 1%;
  padding: 1%;
}

.commentTBContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

#commentBodyText {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  border-radius: 15px;
  background-color: #3a3a3aef;
  margin: 2%;
  padding: 2%;
  color: white;
  border: #240090 1px solid;
}

#commentSubmit {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  margin: 2%;
  padding: 2%;
  border-radius: 15px;
}

#commentCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  border: #240090 1px solid;
  padding: 10px;
  margin: 2%;
  background-color: #1800611c;
  border-radius: 15px;
}

.commentDelete {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  margin: 1%;
  padding: 1%;
  border-radius: 15px;
}
